<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,54}</string>
                <key>spriteSourceSize</key>
                <string>{591,54}</string>
                <key>textureRect</key>
                <string>{{762,781},{591,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,75}</string>
                <key>spriteSourceSize</key>
                <string>{552,75}</string>
                <key>textureRect</key>
                <string>{{1,1688},{552,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,91}</string>
                <key>spriteSourceSize</key>
                <string>{611,91}</string>
                <key>textureRect</key>
                <string>{{762,688},{611,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 1 copy (merged).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{970,549}</string>
                <key>spriteSourceSize</key>
                <string>{970,549}</string>
                <key>textureRect</key>
                <string>{{1,1},{970,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,433}</string>
                <key>spriteSourceSize</key>
                <string>{228,433}</string>
                <key>textureRect</key>
                <string>{{889,1313},{228,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Maya_Smoke01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,120}</string>
                <key>textureRect</key>
                <string>{{762,552},{128,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Maya_Smoke01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{762,837},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Maya_Smoke01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{1119,1313},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Maya_Smoke01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1241,1313},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn close copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{884,552},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,474}</string>
                <key>spriteSourceSize</key>
                <string>{503,474}</string>
                <key>textureRect</key>
                <string>{{889,837},{503,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,447}</string>
                <key>spriteSourceSize</key>
                <string>{759,447}</string>
                <key>textureRect</key>
                <string>{{1,552},{759,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,456}</string>
                <key>spriteSourceSize</key>
                <string>{685,456}</string>
                <key>textureRect</key>
                <string>{{1,1001},{685,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,442}</string>
                <key>spriteSourceSize</key>
                <string>{685,442}</string>
                <key>textureRect</key>
                <string>{{973,1},{685,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,428}</string>
                <key>spriteSourceSize</key>
                <string>{677,428}</string>
                <key>textureRect</key>
                <string>{{459,1001},{677,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MayaCompressArt.png</string>
            <key>size</key>
            <string>{1416,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa63aa2658b626c8d6f4d31e80c7891f:5bc596bcd4b8607dd880c2f34073dfaa:a3af6b5f36fa955b58e068dbded2cb88$</string>
            <key>textureFileName</key>
            <string>MayaCompressArt.png</string>
        </dict>
    </dict>
</plist>
