<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg khung da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,463}</string>
                <key>spriteSourceSize</key>
                <string>{479,463}</string>
                <key>textureRect</key>
                <string>{{1148,1044},{479,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,39}</string>
                <key>spriteSourceSize</key>
                <string>{128,39}</string>
                <key>textureRect</key>
                <string>{{746,1491},{128,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{561,1510},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn giam muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{142,1538},{33,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1599,1509},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay acitve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,90}</string>
                <key>spriteSourceSize</key>
                <string>{224,90}</string>
                <key>textureRect</key>
                <string>{{376,1292},{224,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay nhanh active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,69}</string>
                <key>spriteSourceSize</key>
                <string>{163,69}</string>
                <key>textureRect</key>
                <string>{{1033,1405},{163,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay nhanh unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,69}</string>
                <key>spriteSourceSize</key>
                <string>{163,69}</string>
                <key>textureRect</key>
                <string>{{1104,1509},{163,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,90}</string>
                <key>spriteSourceSize</key>
                <string>{224,90}</string>
                <key>textureRect</key>
                <string>{{337,1384},{224,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tang muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{1104,1405},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tu dong active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,69}</string>
                <key>spriteSourceSize</key>
                <string>{163,69}</string>
                <key>textureRect</key>
                <string>{{1269,1509},{163,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tu dong unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,69}</string>
                <key>spriteSourceSize</key>
                <string>{163,69}</string>
                <key>textureRect</key>
                <string>{{1434,1509},{163,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{611,1534},{125,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,100}</string>
                <key>spriteSourceSize</key>
                <string>{236,100}</string>
                <key>textureRect</key>
                <string>{{1148,753},{236,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1263,750}</string>
                <key>spriteSourceSize</key>
                <string>{1263,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1263,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luot quay bonus (merged).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,453}</string>
                <key>spriteSourceSize</key>
                <string>{650,453}</string>
                <key>textureRect</key>
                <string>{{693,753},{650,453}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luot quay free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,537}</string>
                <key>spriteSourceSize</key>
                <string>{690,537}</string>
                <key>textureRect</key>
                <string>{{1,753},{690,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lượt quay (merged).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,138}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{876,1405},{155,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{1,1440},{236,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,97}</string>
                <key>spriteSourceSize</key>
                <string>{236,97}</string>
                <key>textureRect</key>
                <string>{{1,1341},{236,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,96}</string>
                <key>textureRect</key>
                <string>{{239,1341},{236,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,84}</string>
                <key>spriteSourceSize</key>
                <string>{184,84}</string>
                <key>textureRect</key>
                <string>{{690,1405},{184,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,36}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{563,1384},{124,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,41}</string>
                <key>spriteSourceSize</key>
                <string>{133,41}</string>
                <key>textureRect</key>
                <string>{{611,1491},{133,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,41}</string>
                <key>spriteSourceSize</key>
                <string>{106,41}</string>
                <key>textureRect</key>
                <string>{{1148,991},{106,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,41}</string>
                <key>spriteSourceSize</key>
                <string>{139,41}</string>
                <key>textureRect</key>
                <string>{{1,1538},{139,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thong bao an tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1041,393}</string>
                <key>spriteSourceSize</key>
                <string>{1041,393}</string>
                <key>textureRect</key>
                <string>{{1266,1},{1041,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tien thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,86}</string>
                <key>spriteSourceSize</key>
                <string>{222,86}</string>
                <key>textureRect</key>
                <string>{{337,1476},{222,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,86}</string>
                <key>spriteSourceSize</key>
                <string>{184,86}</string>
                <key>textureRect</key>
                <string>{{602,1292},{184,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuat hien 6 icon vao game dac biet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,47}</string>
                <key>spriteSourceSize</key>
                <string>{373,47}</string>
                <key>textureRect</key>
                <string>{{1,1292},{373,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MayaArt.png</string>
            <key>size</key>
            <string>{1660,1580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:165f4c8d8a8d90a9f3e71e2edd2c8d5d:7013d285bd80b3cd712d085e214b9c8b:b1e6c2e24cd7ff875cff7a5120a8e9e4$</string>
            <key>textureFileName</key>
            <string>MayaArt.png</string>
        </dict>
    </dict>
</plist>
