<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bank_vietcabbank.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{290,81}}</string>
        <key>offset</key>
        <string>{-6,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{290,81}}</string>
        <key>sourceSize</key>
        <string>{302,83}</string>
      </dict>
      <key>bank_teckcombank.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{247,42}}</string>
        <key>offset</key>
        <string>{-0.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{247,42}}</string>
        <key>sourceSize</key>
        <string>{248,45}</string>
      </dict>
      <key>bank_donga.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{242,41}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{242,41}}</string>
        <key>sourceSize</key>
        <string>{248,45}</string>
      </dict>
      <key>bank_eximbank.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{238,41}}</string>
        <key>offset</key>
        <string>{-5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{238,41}}</string>
        <key>sourceSize</key>
        <string>{248,45}</string>
      </dict>
      <key>bank_vcb.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{228,41}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,4},{228,41}}</string>
        <key>sourceSize</key>
        <string>{244,45}</string>
      </dict>
      <key>bank_mb.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{212,45}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,0},{212,45}}</string>
        <key>sourceSize</key>
        <string>{244,45}</string>
      </dict>
      <key>bank_viettinbank.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{212,44}}</string>
        <key>offset</key>
        <string>{-6,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,1},{212,44}}</string>
        <key>sourceSize</key>
        <string>{244,45}</string>
      </dict>
      <key>bank_vpbank.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{211,51}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{211,51}}</string>
        <key>sourceSize</key>
        <string>{214,53}</string>
      </dict>
      <key>bank_mtimebank.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,81},{163,41}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,3},{163,41}}</string>
        <key>sourceSize</key>
        <string>{163,44}</string>
      </dict>
      <key>vinaphone.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,212},{127,42}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,3},{127,42}}</string>
        <key>sourceSize</key>
        <string>{134,49}</string>
      </dict>
      <key>mobiphone.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{125,31}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,3},{125,31}}</string>
        <key>sourceSize</key>
        <string>{131,37}</string>
      </dict>
      <key>bank_bidv.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{121,38}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{121,38}}</string>
        <key>sourceSize</key>
        <string>{122,40}</string>
      </dict>
      <key>viettel.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,246},{93,69}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{93,69}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>bank_acb.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,339},{88,41}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{88,41}}</string>
        <key>sourceSize</key>
        <string>{94,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Card_bank.png</string>
      <key>size</key>
      <string>{365,380}</string>
      <key>textureFileName</key>
      <string>Card_bank</string>
    </dict>
  </dict>
</plist>
