<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mntx_dice_anim_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{186,168}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{219,1057},{186,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{200,176}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{229,441},{200,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mntx_dice_anim_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{216,204}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,871},{216,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{214,198}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,1077},{214,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{206,192}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,1473},{206,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{196,186}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{219,859},{196,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mntx_dice_anim_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{217,1227},{188,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{209,1597},{184,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{206,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{219,651},{206,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mntx_dice_anim_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{192,186}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{211,1409},{192,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{208,194}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,1277},{208,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{226,208}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,441},{226,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{224,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{239,1},{224,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,218}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{234,218}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,221},{234,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_anim_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,651},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-44}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{405,1505},{90,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mntx_dice_result_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-44}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,1027},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-44}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,1121},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-44}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,1215},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-44}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,1309},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-44}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,405},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1,1667},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{95,1667},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{395,1597},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{239,215},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mntx_dice_result_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{335,215},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mntx_dice_result_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{237,309},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{331,309},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{405,1409},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{405,643},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{405,739},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,835},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mntx_dice_result_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-43}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{407,931},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MiniTaiXiu_Dice.png</string>
            <key>size</key>
            <string>{500,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9134f2e752fe240a983439dc74cdd0cf:9dc4eb0667dd925c18cf5cf8a866fb40:f85319691f612f7af548c3debef0cfd7$</string>
            <key>textureFileName</key>
            <string>MiniTaiXiu_Dice.png</string>
        </dict>
    </dict>
</plist>
