<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>binh_lung.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,335},{158,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,35}}</string>
				<key>sourceSize</key>
				<string>{158,35}</string>
			</dict>

			<key>btn_Xep.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,129},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>

			<key>btn_XepLai.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,65},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>

			<key>cu_lu.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,485},{75,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,24}}</string>
				<key>sourceSize</key>
				<string>{75,24}</string>
			</dict>

			<key>cu_lu_chi_giua.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,373},{203,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,30}}</string>
				<key>sourceSize</key>
				<string>{203,30}</string>
			</dict>

			<key>dang_xep.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,404},{158,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,35}}</string>
				<key>sourceSize</key>
				<string>{158,35}</string>
			</dict>

			<key>doi.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,440},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,24}}</string>
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>

			<key>hoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,193},{144,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,50}}</string>
				<key>sourceSize</key>
				<string>{144,50}</string>
			</dict>

			<key>mau_binh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{306,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{306,64}}</string>
				<key>sourceSize</key>
				<string>{306,64}</string>
			</dict>

			<key>mau_thau.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,373},{132,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,30}}</string>
				<key>sourceSize</key>
				<string>{132,30}</string>
			</dict>

			<key>sam_chi_cuoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{186,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,31}}</string>
				<key>sourceSize</key>
				<string>{186,31}</string>
			</dict>

			<key>san_sang.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,298},{130,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,35}}</string>
				<key>sourceSize</key>
				<string>{130,35}</string>
			</dict>

			<key>sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,485},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,26}}</string>
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>

			<key>thang.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,441},{158,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,43}}</string>
				<key>sourceSize</key>
				<string>{158,43}</string>
			</dict>

			<key>thang_ba_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,473},{184,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,38}}</string>
				<key>sourceSize</key>
				<string>{184,38}</string>
			</dict>

			<key>thu.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,371},{51,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,24}}</string>
				<key>sourceSize</key>
				<string>{51,24}</string>
			</dict>

			<key>thua.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,244},{144,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,50}}</string>
				<key>sourceSize</key>
				<string>{144,50}</string>
			</dict>

			<key>thua_sap_ham.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{202,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,36}}</string>
				<key>sourceSize</key>
				<string>{202,36}</string>
			</dict>

			<key>thung.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,31},{84,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,30}}</string>
				<key>sourceSize</key>
				<string>{84,30}</string>
			</dict>

			<key>thung_pha_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{226,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,38}}</string>
				<key>sourceSize</key>
				<string>{226,38}</string>
			</dict>

			<key>thung_pha_sanh_chi_dau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,235},{226,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,62}}</string>
				<key>sourceSize</key>
				<string>{226,62}</string>
			</dict>

			<key>thung_pha_sanh_chi_giua.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{226,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,62}}</string>
				<key>sourceSize</key>
				<string>{226,62}</string>
			</dict>

			<key>thung_pha_sanh_dai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{226,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,67}}</string>
				<key>sourceSize</key>
				<string>{226,67}</string>
			</dict>

			<key>tu_quy.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{97,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,30}}</string>
				<key>sourceSize</key>
				<string>{97,30}</string>
			</dict>

			<key>tu_quy_chi_dau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{214,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,37}}</string>
				<key>sourceSize</key>
				<string>{214,37}</string>
			</dict>

			<key>tu_quy_chi_giua.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{224,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,36}}</string>
				<key>sourceSize</key>
				<string>{224,36}</string>
			</dict>

			<key>xam.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,485},{60,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,24}}</string>
				<key>sourceSize</key>
				<string>{60,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>