<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Draken-animation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,159},{174,134}}</string>
                <key>offset</key>
                <string>{-51,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,112},{174,134}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,247},{146,230}}</string>
                <key>offset</key>
                <string>{47,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,6},{146,230}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,479},{186,208}}</string>
                <key>offset</key>
                <string>{66,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,28},{186,208}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,451},{218,142}}</string>
                <key>offset</key>
                <string>{81,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,94},{218,142}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{244,118}}</string>
                <key>offset</key>
                <string>{95,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,118},{244,118}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,114}}</string>
                <key>offset</key>
                <string>{99,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,122},{252,114}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{248,118}}</string>
                <key>offset</key>
                <string>{98,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,127},{248,118}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,255},{248,122}}</string>
                <key>offset</key>
                <string>{98,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,125},{248,122}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,251},{244,124}}</string>
                <key>offset</key>
                <string>{96,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,116},{244,124}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{230,134}}</string>
                <key>offset</key>
                <string>{89,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,104},{230,134}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,451},{204,144}}</string>
                <key>offset</key>
                <string>{75,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,92},{204,144}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,451},{172,138}}</string>
                <key>offset</key>
                <string>{-50,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,99},{172,138}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1},{176,156}}</string>
                <key>offset</key>
                <string>{60,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,80},{176,156}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{162,154}}</string>
                <key>offset</key>
                <string>{-45,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,83},{162,154}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,497},{154,172}}</string>
                <key>offset</key>
                <string>{-42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,65},{154,172}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,295},{154,192}}</string>
                <key>offset</key>
                <string>{-42,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,44},{154,192}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1},{148,206}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,30},{148,206}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,229},{130,220}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,16},{130,220}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{120,226}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,10},{120,226}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
            <key>Draken-animation_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,233},{114,230}}</string>
                <key>offset</key>
                <string>{30,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,6},{114,230}}</string>
                <key>sourceSize</key>
                <string>{450,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_kraken_1.png</string>
            <key>size</key>
            <string>{952,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a8b3fad00823f4156ab5c74bff39b1f:99f6c57c6167cd0c73f7e69091305291:ee8c09286e2b96948afc10c6298afdca$</string>
            <key>textureFileName</key>
            <string>boss_kraken_1.png</string>
        </dict>
    </dict>
</plist>
