<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dragon_anim_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{27,-1}</string>
                <key>spriteSize</key>
                <string>{372,510}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{419,1529},{372,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{370,512}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{863,503},{370,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{376,512}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1235,997},{376,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{19,-9}</string>
                <key>spriteSize</key>
                <string>{354,494}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1353,1},{354,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{22,-7}</string>
                <key>spriteSize</key>
                <string>{406,498}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1235,497},{406,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{378,502}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{793,1529},{378,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-17,-2}</string>
                <key>spriteSize</key>
                <string>{416,508}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1,1507},{416,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{410,512}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{451,503},{410,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{446,512}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{388,496}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{845,1017},{388,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{450,500}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{449,1},{450,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{21,-1}</string>
                <key>spriteSize</key>
                <string>{408,510}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{435,1017},{408,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{38,-9}</string>
                <key>spriteSize</key>
                <string>{374,494}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1173,1515},{374,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{448,494}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{448,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{432,494}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1,1011},{432,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{450,494}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{901,1},{450,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-74,-157}</string>
                <key>spriteSize</key>
                <string>{168,198}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1549,1511},{168,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-89,-189}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1549,1711},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dragon_anim_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-98,-218}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{450,512}</string>
                <key>textureRect</key>
                <string>{{1549,1847},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_dragon_2.png</string>
            <key>size</key>
            <string>{1718,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cfe1b314b1bc47429bc87afc8d523e9:a18f7d863af555730de44c364139abff:a820c44a32893cbd611a5273b4a37caa$</string>
            <key>textureFileName</key>
            <string>boss_dragon_2.png</string>
        </dict>
    </dict>
</plist>
