<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hermitcrab_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,155},{162,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,155},{160,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{156,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{156,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{156,154}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{154,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{154,152}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{152,150}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{154,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{154,152}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1},{156,152}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{156,152}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1},{158,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{158,154}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,157},{160,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>hermitcrab_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,157},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hermitgrab.png</string>
            <key>size</key>
            <string>{942,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e220412247834bca1b377613273821f:7ca1325c77c549207706bde065384cd0:79686cd8362356e9a62064774bb7ed64$</string>
            <key>textureFileName</key>
            <string>hermitgrab.png</string>
        </dict>
    </dict>
</plist>
