<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_boss_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,480}</string>
                <key>spriteSourceSize</key>
                <string>{320,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_boss_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{265,253}</string>
                <key>spriteSourceSize</key>
                <string>{265,255}</string>
                <key>textureRect</key>
                <string>{{323,1},{265,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kraken_cover_bl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,209}</string>
                <key>spriteSourceSize</key>
                <string>{197,209}</string>
                <key>textureRect</key>
                <string>{{590,1},{197,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kraken_cover_br.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{153,178}</string>
                <key>spriteSourceSize</key>
                <string>{153,180}</string>
                <key>textureRect</key>
                <string>{{323,619},{153,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kraken_cover_ll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,126}</string>
                <key>spriteSourceSize</key>
                <string>{121,126}</string>
                <key>textureRect</key>
                <string>{{478,722},{121,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kraken_cover_tm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,95}</string>
                <key>spriteSourceSize</key>
                <string>{319,95}</string>
                <key>textureRect</key>
                <string>{{634,456},{319,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kraken_cover_ul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,136}</string>
                <key>spriteSourceSize</key>
                <string>{38,136}</string>
                <key>textureRect</key>
                <string>{{590,212},{38,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kraken_cover_ur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,264}</string>
                <key>spriteSourceSize</key>
                <string>{137,264}</string>
                <key>textureRect</key>
                <string>{{495,456},{137,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_bossline_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,81}</string>
                <key>spriteSourceSize</key>
                <string>{320,81}</string>
                <key>textureRect</key>
                <string>{{1,619},{320,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_bossline_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,81}</string>
                <key>spriteSourceSize</key>
                <string>{320,81}</string>
                <key>textureRect</key>
                <string>{{1,702},{320,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_text_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{728,212},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_text_bachtuot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{492,134}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{1,483},{492,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_text_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{404,34}</string>
                <key>spriteSourceSize</key>
                <string>{410,36}</string>
                <key>textureRect</key>
                <string>{{1,799},{404,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_text_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{466,198}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{323,256},{466,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_text_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{400,57}</string>
                <key>spriteSourceSize</key>
                <string>{400,65}</string>
                <key>textureRect</key>
                <string>{{731,456},{400,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_kraken_3.png</string>
            <key>size</key>
            <string>{790,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d10e17d116db20b3c556e87ccd3eae2:8598715335edd7365735e571b6506d5d:9246721e7e04fbb8ec35f79a1846741a$</string>
            <key>textureFileName</key>
            <string>boss_kraken_3.png</string>
        </dict>
    </dict>
</plist>
