<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>line-01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,384},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-01un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,128},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,448},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-02un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,256},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,256},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-03un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,192},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,128},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-04un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,256},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,192},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-05un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,320},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,384},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-06un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,192},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-07.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,0},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-07un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,384},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-08.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,192},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-08un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,320},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-09.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,320},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-09un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,256},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,64},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-10un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,384},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,64},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-11un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,0},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,0},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-12un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,64},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,0},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-13un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,448},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,192},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-14un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,128},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{0,320},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-15un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,64},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,448},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-16un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,0},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,320},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-17un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,64},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{270,448},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-18un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,256},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,384},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-19un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{360,128},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{180,128},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line-20un.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,62}</string>
    <key>spriteSourceSize</key>
    <string>{88,62}</string>
    <key>textureRect</key>
    <string>{{90,448},{88,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{450,512}</string>
   <key>textureFileName</key>
   <string>linetable.png</string>
  </dict>
 </dict>
</plist>
