<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AutoOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,117}</string>
                <key>spriteSourceSize</key>
                <string>{99,117}</string>
                <key>textureRect</key>
                <string>{{173,1202},{99,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{66,59}</string>
                <key>textureRect</key>
                <string>{{403,1661},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{291,1797},{88,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,113}</string>
                <key>spriteSourceSize</key>
                <string>{97,113}</string>
                <key>textureRect</key>
                <string>{{292,1202},{97,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{304,1745},{50,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,113}</string>
                <key>spriteSourceSize</key>
                <string>{103,113}</string>
                <key>textureRect</key>
                <string>{{266,1317},{103,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnSpeedOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,116}</string>
                <key>spriteSourceSize</key>
                <string>{97,116}</string>
                <key>textureRect</key>
                <string>{{304,1422},{97,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpeedOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,116}</string>
                <key>spriteSourceSize</key>
                <string>{97,116}</string>
                <key>textureRect</key>
                <string>{{304,1540},{97,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{66,59}</string>
                <key>textureRect</key>
                <string>{{403,1722},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnVipGun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{390,762},{96,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentInfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,88}</string>
                <key>spriteSourceSize</key>
                <string>{221,88}</string>
                <key>textureRect</key>
                <string>{{372,1},{221,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>De1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,103}</string>
                <key>spriteSourceSize</key>
                <string>{178,103}</string>
                <key>textureRect</key>
                <string>{{1,1304},{178,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>De2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,103}</string>
                <key>spriteSourceSize</key>
                <string>{178,103}</string>
                <key>textureRect</key>
                <string>{{1,1484},{178,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ellipse 594.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{167,1461},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,80}</string>
                <key>spriteSourceSize</key>
                <string>{30,80}</string>
                <key>textureRect</key>
                <string>{{452,224},{30,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,119}</string>
                <key>spriteSourceSize</key>
                <string>{45,119}</string>
                <key>textureRect</key>
                <string>{{437,1073},{45,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,148}</string>
                <key>spriteSourceSize</key>
                <string>{130,148}</string>
                <key>textureRect</key>
                <string>{{258,805},{130,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,93}</string>
                <key>spriteSourceSize</key>
                <string>{45,93}</string>
                <key>textureRect</key>
                <string>{{1,1836},{45,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{106,1495},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,73}</string>
                <key>spriteSourceSize</key>
                <string>{43,73}</string>
                <key>textureRect</key>
                <string>{{391,1783},{43,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,128}</string>
                <key>spriteSourceSize</key>
                <string>{50,128}</string>
                <key>textureRect</key>
                <string>{{137,1673},{50,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,118}</string>
                <key>spriteSourceSize</key>
                <string>{50,118}</string>
                <key>textureRect</key>
                <string>{{400,953},{50,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,114}</string>
                <key>spriteSourceSize</key>
                <string>{170,114}</string>
                <key>textureRect</key>
                <string>{{1,1188},{170,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,103}</string>
                <key>spriteSourceSize</key>
                <string>{170,103}</string>
                <key>textureRect</key>
                <string>{{1,1664},{170,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,129}</string>
                <key>spriteSourceSize</key>
                <string>{55,129}</string>
                <key>textureRect</key>
                <string>{{148,1495},{55,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,111}</string>
                <key>spriteSourceSize</key>
                <string>{200,111}</string>
                <key>textureRect</key>
                <string>{{1,1075},{200,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{148,1626},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{436,1855},{30,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,78}</string>
                <key>textureRect</key>
                <string>{{372,224},{200,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,150}</string>
                <key>spriteSourceSize</key>
                <string>{91,150}</string>
                <key>textureRect</key>
                <string>{{372,426},{91,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,121}</string>
                <key>spriteSourceSize</key>
                <string>{140,121}</string>
                <key>textureRect</key>
                <string>{{258,955},{140,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,49}</string>
                <key>spriteSourceSize</key>
                <string>{30,49}</string>
                <key>textureRect</key>
                <string>{{96,1836},{30,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{445,684},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{339,1078},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{128,1840},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{358,1745},{30,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{35,47}</string>
                <key>textureRect</key>
                <string>{{137,1803},{35,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,70}</string>
                <key>spriteSourceSize</key>
                <string>{35,70}</string>
                <key>textureRect</key>
                <string>{{436,1783},{35,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRAND.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,25}</string>
                <key>spriteSourceSize</key>
                <string>{110,25}</string>
                <key>textureRect</key>
                <string>{{452,306},{110,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GunValueContent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,59}</string>
                <key>spriteSourceSize</key>
                <string>{189,59}</string>
                <key>textureRect</key>
                <string>{{106,1304},{189,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconItemDiamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,266}</string>
                <key>spriteSourceSize</key>
                <string>{255,266}</string>
                <key>textureRect</key>
                <string>{{115,1},{255,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconItemIce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,266}</string>
                <key>spriteSourceSize</key>
                <string>{255,266}</string>
                <key>textureRect</key>
                <string>{{115,269},{255,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconItemSpeed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,266}</string>
                <key>spriteSourceSize</key>
                <string>{255,266}</string>
                <key>textureRect</key>
                <string>{{115,537},{255,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconItemTarget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,266}</string>
                <key>spriteSourceSize</key>
                <string>{255,266}</string>
                <key>textureRect</key>
                <string>{{1,807},{255,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{391,1858},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ItemIce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{403,1421},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ItemSpeed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{403,1501},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ItemTarget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{403,1581},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MAJOR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,25}</string>
                <key>spriteSourceSize</key>
                <string>{110,25}</string>
                <key>textureRect</key>
                <string>{{452,953},{110,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MINI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{391,1287},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MINOR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,25}</string>
                <key>spriteSourceSize</key>
                <string>{104,25}</string>
                <key>textureRect</key>
                <string>{{445,578},{104,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MusicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,118}</string>
                <key>spriteSourceSize</key>
                <string>{97,118}</string>
                <key>textureRect</key>
                <string>{{167,1304},{97,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MusicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,118}</string>
                <key>spriteSourceSize</key>
                <string>{97,118}</string>
                <key>textureRect</key>
                <string>{{205,1461},{97,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RectInfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,34}</string>
                <key>spriteSourceSize</key>
                <string>{182,34}</string>
                <key>textureRect</key>
                <string>{{372,578},{182,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RectMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,35}</string>
                <key>spriteSourceSize</key>
                <string>{168,35}</string>
                <key>textureRect</key>
                <string>{{408,578},{168,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RectPercent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,35}</string>
                <key>spriteSourceSize</key>
                <string>{92,35}</string>
                <key>textureRect</key>
                <string>{{167,1424},{92,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShowSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,112}</string>
                <key>spriteSourceSize</key>
                <string>{804,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{804,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SoundOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,115}</string>
                <key>spriteSourceSize</key>
                <string>{97,115}</string>
                <key>textureRect</key>
                <string>{{205,1581},{97,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoundOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,113}</string>
                <key>spriteSourceSize</key>
                <string>{97,113}</string>
                <key>textureRect</key>
                <string>{{189,1698},{97,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Target1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{134,122}</string>
                <key>textureRect</key>
                <string>{{203,1078},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Target2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{381,1317},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TextGrandJackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,29}</string>
                <key>spriteSourceSize</key>
                <string>{153,29}</string>
                <key>textureRect</key>
                <string>{{106,1673},{153,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn gacha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{189,1797},{88,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-online-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,91}</string>
                <key>textureRect</key>
                <string>{{390,860},{85,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-online-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,91}</string>
                <key>textureRect</key>
                <string>{{391,1200},{85,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-online-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,97}</string>
                <key>spriteSourceSize</key>
                <string>{85,97}</string>
                <key>textureRect</key>
                <string>{{304,1658},{85,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BanCaAtlas.png</string>
            <key>size</key>
            <string>{483,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34461caebf2035ebbf052753271f1eb2:75d9395fff6e29f30bf2ea6252cc3b7b:4e9bf133f1cb13aefbe816fb9f54d572$</string>
            <key>textureFileName</key>
            <string>BanCaAtlas.png</string>
        </dict>
    </dict>
</plist>
