<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{119,1},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{253,1},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_Doi_sung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{745,275},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{387,1},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{521,1},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_Doi_sung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{1,408},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{655,1},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{789,1},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_Doi_sung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{175,408},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{1,134},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{135,134},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_Doi_sung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{349,416},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{269,134},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{403,134},{131,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05_Doi_sung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{523,416},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06_Doi_sung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{697,425},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,139}</string>
                <key>spriteSourceSize</key>
                <string>{198,139}</string>
                <key>textureRect</key>
                <string>{{537,134},{198,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BulletOther.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{33,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BulletUser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{33,57}</string>
                <key>textureRect</key>
                <string>{{60,1},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lighting_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,184}</string>
                <key>spriteSourceSize</key>
                <string>{139,184}</string>
                <key>textureRect</key>
                <string>{{737,134},{139,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lighting_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,184}</string>
                <key>spriteSourceSize</key>
                <string>{139,184}</string>
                <key>textureRect</key>
                <string>{{1,267},{139,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lighting_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,184}</string>
                <key>spriteSourceSize</key>
                <string>{139,184}</string>
                <key>textureRect</key>
                <string>{{187,267},{139,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lighting_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,184}</string>
                <key>spriteSourceSize</key>
                <string>{139,184}</string>
                <key>textureRect</key>
                <string>{{373,275},{139,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lighting_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,184}</string>
                <key>spriteSourceSize</key>
                <string>{139,184}</string>
                <key>textureRect</key>
                <string>{{559,275},{139,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BanCa3Atlas.png</string>
            <key>size</key>
            <string>{922,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f89e447a9e143c31a5522f61e7d8c05f:6ed12a81147602da8123d18ccc1c35d9:56ed0310b287c2078f631f988c155c88$</string>
            <key>textureFileName</key>
            <string>BanCa3Atlas.png</string>
        </dict>
    </dict>
</plist>
