<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{361,368},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ContentMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,193}</string>
                <key>spriteSourceSize</key>
                <string>{283,193}</string>
                <key>textureRect</key>
                <string>{{611,262},{283,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{283,368},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LayerAbove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,415}</string>
                <key>spriteSourceSize</key>
                <string>{280,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LayerBelow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,365}</string>
                <key>spriteSourceSize</key>
                <string>{308,365}</string>
                <key>textureRect</key>
                <string>{{283,1},{308,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rectangle 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,56}</string>
                <key>spriteSourceSize</key>
                <string>{317,56}</string>
                <key>textureRect</key>
                <string>{{292,405},{317,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{336,368},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rem v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,44}</string>
                <key>spriteSourceSize</key>
                <string>{97,44}</string>
                <key>textureRect</key>
                <string>{{99,418},{97,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rem v2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,43}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{198,418},{92,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,55}</string>
                <key>spriteSourceSize</key>
                <string>{96,55}</string>
                <key>textureRect</key>
                <string>{{1,418},{96,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,257}</string>
                <key>spriteSourceSize</key>
                <string>{257,257}</string>
                <key>textureRect</key>
                <string>{{854,1},{257,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,259}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{593,1},{259,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,181}</string>
                <key>spriteSourceSize</key>
                <string>{181,181}</string>
                <key>textureRect</key>
                <string>{{896,260},{181,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FishWheelAtlas.png</string>
            <key>size</key>
            <string>{1112,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aac39a36cec78de33dfcbb650a19748:7c240ea7a698b2a604bacfa771c26893:e5a5aaa586c49e1cfc78e42707972740$</string>
            <key>textureFileName</key>
            <string>FishWheelAtlas.png</string>
        </dict>
    </dict>
</plist>
