<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Group 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,272}</string>
                <key>spriteSourceSize</key>
                <string>{1014,272}</string>
                <key>textureRect</key>
                <string>{{1572,889},{1014,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TextFreeSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,18}</string>
                <key>spriteSourceSize</key>
                <string>{163,18}</string>
                <key>textureRect</key>
                <string>{{1077,1054},{163,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Way.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,20}</string>
                <key>spriteSourceSize</key>
                <string>{68,20}</string>
                <key>textureRect</key>
                <string>{{1673,825},{68,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a6f804b4-4f70-465e-9296-5dcf45e5b196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,62}</string>
                <key>spriteSourceSize</key>
                <string>{435,62}</string>
                <key>textureRect</key>
                <string>{{1077,990},{435,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn +.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{1514,990},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn -.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1779,1905},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay nhanh-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,73}</string>
                <key>spriteSourceSize</key>
                <string>{219,73}</string>
                <key>textureRect</key>
                <string>{{1558,1905},{219,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay nhanh-unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,73}</string>
                <key>spriteSourceSize</key>
                <string>{219,73}</string>
                <key>textureRect</key>
                <string>{{788,1887},{219,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,163}</string>
                <key>spriteSourceSize</key>
                <string>{293,163}</string>
                <key>textureRect</key>
                <string>{{1098,1793},{293,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay-unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,163}</string>
                <key>spriteSourceSize</key>
                <string>{293,163}</string>
                <key>textureRect</key>
                <string>{{1393,1674},{293,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn tu dong-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,73}</string>
                <key>spriteSourceSize</key>
                <string>{225,73}</string>
                <key>textureRect</key>
                <string>{{334,1887},{225,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tu dong-unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,73}</string>
                <key>spriteSourceSize</key>
                <string>{225,73}</string>
                <key>textureRect</key>
                <string>{{561,1887},{225,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gairongxoaytron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{618,169}</string>
                <key>spriteSourceSize</key>
                <string>{658,169}</string>
                <key>textureRect</key>
                <string>{{1387,1054},{618,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hien thi cot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{83,43}</string>
                <key>textureRect</key>
                <string>{{1,1975},{83,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungchuaicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,750}</string>
                <key>spriteSourceSize</key>
                <string>{1575,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1575,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungchuaicon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,740}</string>
                <key>spriteSourceSize</key>
                <string>{254,740}</string>
                <key>textureRect</key>
                <string>{{1578,1},{254,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungchuaicon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,737}</string>
                <key>spriteSourceSize</key>
                <string>{287,737}</string>
                <key>textureRect</key>
                <string>{{1098,1054},{287,737}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungchuaicon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1569,99}</string>
                <key>spriteSourceSize</key>
                <string>{1569,99}</string>
                <key>textureRect</key>
                <string>{{1,889},{1569,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1095,292}</string>
                <key>spriteSourceSize</key>
                <string>{1095,292}</string>
                <key>textureRect</key>
                <string>{{1,1581},{1095,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,86}</string>
                <key>spriteSourceSize</key>
                <string>{331,86}</string>
                <key>textureRect</key>
                <string>{{1,1887},{331,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1074,589}</string>
                <key>spriteSourceSize</key>
                <string>{1074,589}</string>
                <key>textureRect</key>
                <string>{{1,990},{1074,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,68}</string>
                <key>spriteSourceSize</key>
                <string>{176,68}</string>
                <key>textureRect</key>
                <string>{{1009,1958},{176,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhtruothienthicot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,10}</string>
                <key>spriteSourceSize</key>
                <string>{961,10}</string>
                <key>textureRect</key>
                <string>{{1,1875},{961,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thắng_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,42}</string>
                <key>spriteSourceSize</key>
                <string>{93,42}</string>
                <key>textureRect</key>
                <string>{{1578,825},{93,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tien thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,134}</string>
                <key>spriteSourceSize</key>
                <string>{1575,134}</string>
                <key>textureRect</key>
                <string>{{1,753},{1575,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,80}</string>
                <key>spriteSourceSize</key>
                <string>{266,80}</string>
                <key>textureRect</key>
                <string>{{1578,743},{266,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DragonFireArt.png</string>
            <key>size</key>
            <string>{1845,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36c6734406953cb56f8d102496bc377:b051b061de492e563c936a4313ebb312:b767190acd8c9e01f1d42232d4ab0ed3$</string>
            <key>textureFileName</key>
            <string>DragonFireArt.png</string>
        </dict>
    </dict>
</plist>
