<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,565}</string>
                <key>spriteSourceSize</key>
                <string>{63,565}</string>
                <key>textureRect</key>
                <string>{{1132,128},{63,565}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,563}</string>
                <key>spriteSourceSize</key>
                <string>{63,563}</string>
                <key>textureRect</key>
                <string>{{1,191},{63,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,566}</string>
                <key>spriteSourceSize</key>
                <string>{62,566}</string>
                <key>textureRect</key>
                <string>{{1,63},{62,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,553}</string>
                <key>spriteSourceSize</key>
                <string>{60,553}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,553}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,566}</string>
                <key>spriteSourceSize</key>
                <string>{61,566}</string>
                <key>textureRect</key>
                <string>{{1122,1},{61,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,564}</string>
                <key>spriteSourceSize</key>
                <string>{60,564}</string>
                <key>textureRect</key>
                <string>{{556,1},{60,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,558}</string>
                <key>spriteSourceSize</key>
                <string>{62,558}</string>
                <key>textureRect</key>
                <string>{{569,64},{62,558}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,566}</string>
                <key>spriteSourceSize</key>
                <string>{62,566}</string>
                <key>textureRect</key>
                <string>{{1129,64},{62,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,563}</string>
                <key>spriteSourceSize</key>
                <string>{63,563}</string>
                <key>textureRect</key>
                <string>{{566,192},{63,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,563}</string>
                <key>spriteSourceSize</key>
                <string>{63,563}</string>
                <key>textureRect</key>
                <string>{{1131,193},{63,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,565}</string>
                <key>spriteSourceSize</key>
                <string>{63,565}</string>
                <key>textureRect</key>
                <string>{{1,257},{63,565}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,564}</string>
                <key>spriteSourceSize</key>
                <string>{62,564}</string>
                <key>textureRect</key>
                <string>{{1,127},{62,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,563}</string>
                <key>spriteSourceSize</key>
                <string>{62,563}</string>
                <key>textureRect</key>
                <string>{{567,128},{62,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,531}</string>
                <key>spriteSourceSize</key>
                <string>{199,531}</string>
                <key>textureRect</key>
                <string>{{1,322},{199,531}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,531}</string>
                <key>spriteSourceSize</key>
                <string>{91,531}</string>
                <key>textureRect</key>
                <string>{{568,257},{91,531}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,528}</string>
                <key>spriteSourceSize</key>
                <string>{95,528}</string>
                <key>textureRect</key>
                <string>{{1101,258},{95,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1,825},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{381,870},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{761,875},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1141,875},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1521,875},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1,1142},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{381,1187},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{761,1192},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1141,1192},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1521,1192},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1,1459},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{381,1504},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{761,1509},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1141,1509},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,378}</string>
                <key>spriteSourceSize</key>
                <string>{315,378}</string>
                <key>textureRect</key>
                <string>{{1521,1509},{315,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx-cot-sang-len-copy_0000_Layer-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,535}</string>
                <key>spriteSourceSize</key>
                <string>{258,535}</string>
                <key>textureRect</key>
                <string>{{534,350},{258,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx-cot-sang-len-copy_0001_Layer-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,535}</string>
                <key>spriteSourceSize</key>
                <string>{258,535}</string>
                <key>textureRect</key>
                <string>{{1071,355},{258,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx-cot-sang-len-copy_0002_Layer-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,535}</string>
                <key>spriteSourceSize</key>
                <string>{258,535}</string>
                <key>textureRect</key>
                <string>{{1631,258},{258,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx-cot-sang-len-copy_0003_lua-hat-vun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,535}</string>
                <key>spriteSourceSize</key>
                <string>{258,535}</string>
                <key>textureRect</key>
                <string>{{530,610},{258,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx-cot-sang-len-copy_0004_Layer-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,535}</string>
                <key>spriteSourceSize</key>
                <string>{258,535}</string>
                <key>textureRect</key>
                <string>{{1067,615},{258,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lua khi dap vao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,527}</string>
                <key>spriteSourceSize</key>
                <string>{300,527}</string>
                <key>textureRect</key>
                <string>{{1,523},{300,527}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DragonFireAnimArt.png</string>
            <key>size</key>
            <string>{1900,1825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e5599a34df8cbaebae0d025d862b7b:1e1943a8f739809e5338c51b0180a0ed:bc4c88ec421ebd96a0a981c24d422feb$</string>
            <key>textureFileName</key>
            <string>DragonFireAnimArt.png</string>
        </dict>
    </dict>
</plist>
