<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOTAL WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,29}</string>
                <key>spriteSourceSize</key>
                <string>{148,29}</string>
                <key>textureRect</key>
                <string>{{438,109},{148,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn +  HIT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,73}</string>
                <key>textureRect</key>
                <string>{{375,49},{58,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn +  UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{319,210},{50,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn - HIT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,73}</string>
                <key>textureRect</key>
                <string>{{361,109},{58,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn - UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{386,169},{50,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn auto HIT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,56}</string>
                <key>spriteSourceSize</key>
                <string>{161,56}</string>
                <key>textureRect</key>
                <string>{{212,49},{161,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn auto UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,48}</string>
                <key>spriteSourceSize</key>
                <string>{153,48}</string>
                <key>textureRect</key>
                <string>{{204,160},{153,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn maxbet  disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,48}</string>
                <key>spriteSourceSize</key>
                <string>{153,48}</string>
                <key>textureRect</key>
                <string>{{164,210},{153,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn spin HIT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,103}</string>
                <key>spriteSourceSize</key>
                <string>{209,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{209,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn spin UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,97}</string>
                <key>spriteSourceSize</key>
                <string>{201,97}</string>
                <key>textureRect</key>
                <string>{{1,106},{201,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn turbo HIT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,54}</string>
                <key>spriteSourceSize</key>
                <string>{161,54}</string>
                <key>textureRect</key>
                <string>{{1,205},{161,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn turbo UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,51}</string>
                <key>spriteSourceSize</key>
                <string>{155,51}</string>
                <key>textureRect</key>
                <string>{{204,107},{155,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input tien cuoc tien hien co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,46}</string>
                <key>spriteSourceSize</key>
                <string>{258,46}</string>
                <key>textureRect</key>
                <string>{{212,1},{258,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotFooterArt.png</string>
            <key>size</key>
            <string>{471,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff0e0bc48e731959d5d01c31f250244:a7615aa96cbb5f1af0d022b4c793eb37:670e54e1e89aaeff12c05ac434645576$</string>
            <key>textureFileName</key>
            <string>SlotFooterArt.png</string>
        </dict>
    </dict>
</plist>
