<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,28}</string>
    <key>spriteSourceSize</key>
    <string>{15,28}</string>
    <key>textureRect</key>
    <string>{{465,626},{15,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,28}</string>
    <key>spriteSourceSize</key>
    <string>{21,28}</string>
    <key>textureRect</key>
    <string>{{398,626},{21,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,28}</string>
    <key>spriteSourceSize</key>
    <string>{22,28}</string>
    <key>textureRect</key>
    <string>{{351,626},{22,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,28}</string>
    <key>spriteSourceSize</key>
    <string>{21,28}</string>
    <key>textureRect</key>
    <string>{{375,626},{21,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,28}</string>
    <key>spriteSourceSize</key>
    <string>{21,28}</string>
    <key>textureRect</key>
    <string>{{421,626},{21,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,28}</string>
    <key>spriteSourceSize</key>
    <string>{22,28}</string>
    <key>textureRect</key>
    <string>{{327,626},{22,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cheo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{19,30}</string>
    <key>spriteSourceSize</key>
    <string>{19,30}</string>
    <key>textureRect</key>
    <string>{{444,626},{19,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{261,62}</string>
    <key>spriteSourceSize</key>
    <string>{261,63}</string>
    <key>textureRect</key>
    <string>{{535,588},{261,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{262,232}</string>
    <key>spriteSourceSize</key>
    <string>{262,232}</string>
    <key>textureRect</key>
    <string>{{266,0},{262,232}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,236}</string>
    <key>spriteSourceSize</key>
    <string>{264,236}</string>
    <key>textureRect</key>
    <string>{{0,0},{264,236}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,118}</string>
    <key>spriteSourceSize</key>
    <string>{266,119}</string>
    <key>textureRect</key>
    <string>{{270,786},{266,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,172}</string>
    <key>spriteSourceSize</key>
    <string>{266,173}</string>
    <key>textureRect</key>
    <string>{{535,414},{266,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{263,106}</string>
    <key>spriteSourceSize</key>
    <string>{263,107}</string>
    <key>textureRect</key>
    <string>{{538,786},{263,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{265,120}</string>
    <key>spriteSourceSize</key>
    <string>{265,121}</string>
    <key>textureRect</key>
    <string>{{270,664},{265,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,114}</string>
    <key>spriteSourceSize</key>
    <string>{266,114}</string>
    <key>textureRect</key>
    <string>{{791,122},{266,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{265,104}</string>
    <key>spriteSourceSize</key>
    <string>{265,104}</string>
    <key>textureRect</key>
    <string>{{0,838},{265,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{267,174}</string>
    <key>spriteSourceSize</key>
    <string>{267,174}</string>
    <key>textureRect</key>
    <string>{{535,238},{267,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{265,120}</string>
    <key>spriteSourceSize</key>
    <string>{265,121}</string>
    <key>textureRect</key>
    <string>{{791,0},{265,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,118}</string>
    <key>spriteSourceSize</key>
    <string>{264,119}</string>
    <key>textureRect</key>
    <string>{{537,664},{264,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{267,230}</string>
    <key>spriteSourceSize</key>
    <string>{267,231}</string>
    <key>textureRect</key>
    <string>{{0,238},{267,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{268,172}</string>
    <key>spriteSourceSize</key>
    <string>{268,172}</string>
    <key>textureRect</key>
    <string>{{0,664},{268,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,192}</string>
    <key>spriteSourceSize</key>
    <string>{260,192}</string>
    <key>textureRect</key>
    <string>{{269,432},{260,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,192}</string>
    <key>spriteSourceSize</key>
    <string>{264,192}</string>
    <key>textureRect</key>
    <string>{{269,238},{264,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{263,112}</string>
    <key>spriteSourceSize</key>
    <string>{263,112}</string>
    <key>textureRect</key>
    <string>{{803,414},{263,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,192}</string>
    <key>spriteSourceSize</key>
    <string>{264,193}</string>
    <key>textureRect</key>
    <string>{{0,470},{264,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{259,190}</string>
    <key>spriteSourceSize</key>
    <string>{259,191}</string>
    <key>textureRect</key>
    <string>{{530,0},{259,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,120}</string>
    <key>spriteSourceSize</key>
    <string>{260,120}</string>
    <key>textureRect</key>
    <string>{{804,238},{260,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>phay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,12}</string>
    <key>spriteSourceSize</key>
    <string>{11,13}</string>
    <key>textureRect</key>
    <string>{{482,626},{11,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtDauphay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,28}</string>
    <key>textureRect</key>
    <string>{{299,626},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,38}</string>
    <key>spriteSourceSize</key>
    <string>{33,38}</string>
    <key>textureRect</key>
    <string>{{600,192},{33,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,36}</string>
    <key>spriteSourceSize</key>
    <string>{28,37}</string>
    <key>textureRect</key>
    <string>{{269,626},{28,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,39}</string>
    <key>spriteSourceSize</key>
    <string>{33,39}</string>
    <key>textureRect</key>
    <string>{{530,192},{33,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,39}</string>
    <key>spriteSourceSize</key>
    <string>{33,39}</string>
    <key>textureRect</key>
    <string>{{565,192},{33,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,37}</string>
    <key>spriteSourceSize</key>
    <string>{33,37}</string>
    <key>textureRect</key>
    <string>{{705,192},{33,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,38}</string>
    <key>spriteSourceSize</key>
    <string>{33,38}</string>
    <key>textureRect</key>
    <string>{{670,192},{33,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,38}</string>
    <key>spriteSourceSize</key>
    <string>{32,38}</string>
    <key>textureRect</key>
    <string>{{740,192},{32,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,38}</string>
    <key>spriteSourceSize</key>
    <string>{33,38}</string>
    <key>textureRect</key>
    <string>{{635,192},{33,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1068,944}</string>
   <key>textureFileName</key>
   <string>line.png</string>
  </dict>
 </dict>
</plist>
