<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{139,139},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{375,277},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{611,1},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{611,99},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{611,197},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{611,295},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{611,393},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{706,1},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{706,99},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{706,197},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{706,295},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{709,390},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{709,488},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{709,586},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{1,651},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{99,651},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{197,651},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{295,651},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{393,651},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{491,651},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{589,651},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{684,684},{96,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{1,746},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{99,746},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{197,746},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{295,746},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{393,746},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{491,746},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{1,237},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{139,1},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{237,139},{234,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{1,375},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{237,375},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{375,1},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{375,139},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{473,277},{234,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fish51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{1,513},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{237,513},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,136}</string>
                <key>spriteSourceSize</key>
                <string>{234,136}</string>
                <key>textureRect</key>
                <string>{{473,513},{234,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FishIconAtlas.png</string>
            <key>size</key>
            <string>{803,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b0476146f4045d0edf7985c058bd1f:65b0df7ffa548372e603f4c98b90f058:4ff31413b6962567620cfb47ea86f128$</string>
            <key>textureFileName</key>
            <string>FishIconAtlas.png</string>
        </dict>
    </dict>
</plist>
