<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>BG_check.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,34}</string>
    <key>spriteSourceSize</key>
    <string>{34,34}</string>
    <key>textureRect</key>
    <string>{{658,490},{34,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>borderDiamondBoard.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{379,379}</string>
    <key>spriteSourceSize</key>
    <string>{379,379}</string>
    <key>textureRect</key>
    <string>{{0,490},{379,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>borderMoneyJackpot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{241,54}</string>
    <key>spriteSourceSize</key>
    <string>{241,54}</string>
    <key>textureRect</key>
    <string>{{381,490},{241,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>borderTable.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{747,488}</string>
    <key>spriteSourceSize</key>
    <string>{747,488}</string>
    <key>textureRect</key>
    <string>{{0,0},{747,488}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn100.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{675,546},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn100Sellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{381,769},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn10K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{528,687},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn10KSellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{749,322},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn1K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,58}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{749,444},{145,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn1KSellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,58}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{675,607},{145,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnChan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,52}</string>
    <key>spriteSourceSize</key>
    <string>{151,52}</string>
    <key>textureRect</key>
    <string>{{528,802},{151,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnChanSellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,52}</string>
    <key>spriteSourceSize</key>
    <string>{151,52}</string>
    <key>textureRect</key>
    <string>{{822,600},{151,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnChonDong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{749,383},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnHuyChonDong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,52}</string>
    <key>spriteSourceSize</key>
    <string>{151,52}</string>
    <key>textureRect</key>
    <string>{{675,667},{151,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnLe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,52}</string>
    <key>spriteSourceSize</key>
    <string>{151,52}</string>
    <key>textureRect</key>
    <string>{{682,748},{151,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnLeSellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,52}</string>
    <key>spriteSourceSize</key>
    <string>{151,52}</string>
    <key>textureRect</key>
    <string>{{822,546},{151,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnQuay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,79}</string>
    <key>spriteSourceSize</key>
    <string>{145,79}</string>
    <key>textureRect</key>
    <string>{{381,627},{145,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnSet10Dong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{528,626},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnSet20Dong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,59}</string>
    <key>spriteSourceSize</key>
    <string>{145,59}</string>
    <key>textureRect</key>
    <string>{{381,708},{145,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnSieutoc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,79}</string>
    <key>spriteSourceSize</key>
    <string>{145,79}</string>
    <key>textureRect</key>
    <string>{{749,0},{145,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnSieutocSellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,79}</string>
    <key>spriteSourceSize</key>
    <string>{145,79}</string>
    <key>textureRect</key>
    <string>{{749,81},{145,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnTatCa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,52}</string>
    <key>spriteSourceSize</key>
    <string>{151,52}</string>
    <key>textureRect</key>
    <string>{{681,802},{151,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnTatCaSellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,52}</string>
    <key>spriteSourceSize</key>
    <string>{152,52}</string>
    <key>textureRect</key>
    <string>{{528,748},{152,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnTuquay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,78}</string>
    <key>spriteSourceSize</key>
    <string>{145,78}</string>
    <key>textureRect</key>
    <string>{{528,546},{145,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnTuquaySellect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,78}</string>
    <key>spriteSourceSize</key>
    <string>{145,78}</string>
    <key>textureRect</key>
    <string>{{749,242},{145,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_sieutoc_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,79}</string>
    <key>spriteSourceSize</key>
    <string>{145,79}</string>
    <key>textureRect</key>
    <string>{{381,546},{145,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_tuquay_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,78}</string>
    <key>spriteSourceSize</key>
    <string>{145,78}</string>
    <key>textureRect</key>
    <string>{{749,162},{145,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daucheck.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,27}</string>
    <key>spriteSourceSize</key>
    <string>{31,27}</string>
    <key>textureRect</key>
    <string>{{694,490},{31,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icBXH.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,72}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{896,74},{73,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icBxh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,62}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{896,212},{63,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icClose.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,72}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{896,0},{73,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icHoidap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,62}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{896,148},{63,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icI.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,62}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{896,276},{63,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{924,340},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{833,504},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{896,396},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{749,504},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{777,504},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{924,396},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{409,830},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{924,424},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{437,830},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{805,504},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{465,830},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{896,452},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{896,368},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{861,504},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{896,480},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{924,368},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{896,424},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{381,830},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{493,830},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icLine9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{896,340},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txtNumber5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,38}</string>
    <key>spriteSourceSize</key>
    <string>{32,39}</string>
    <key>textureRect</key>
    <string>{{624,490},{32,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{975,871}</string>
   <key>textureFileName</key>
   <string>diamond.png</string>
  </dict>
 </dict>
</plist>
