<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_circle_golden_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{148,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,23},{148,132}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
            <key>fish_circle_golden_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,158},{158,136}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{158,136}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
            <key>fish_circle_golden_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,158},{162,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{162,138}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
            <key>fish_circle_golden_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{170,144}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{170,144}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
            <key>fish_circle_golden_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{178,154}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{178,154}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
            <key>fish_circle_golden_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,166}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,166}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>circle_golden.png</string>
            <key>size</key>
            <string>{510,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a2a65e402293228b0e692b54aa9b402:5df3f7a5312346e5d576d4eb2a3eb661:4a106f67aa2cfad2910d92a62e99168c$</string>
            <key>textureFileName</key>
            <string>circle_golden.png</string>
        </dict>
    </dict>
</plist>
